
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Z-index alto para que esté por encima de todo */
}
  
.spinner-container {
    text-align: center;
}
  
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #fff; /* Color del borde */
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}
  
.text {
    margin-top: 10px;
    color: #fff; /* Color del texto */
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-field {
    width: 48%; /* Ancho de los campos */
  }