<div class="container">
  <div class="row" style="background-color: #68696b">
    <!-- Sección de restablecimiento de contraseña -->
    <div class="col-md-6 col-xl-8">
      <div class="card">
        <div class="card-header" style="background-color: #3f51b5">
          <h2 class="card-title" style="color: #ffffff">Productos</h2>
        </div>
        <div class="card-body">
          <!-- Inicio de Tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let categoria of categorias; let i = index">
              <button
                class="nav-link"
                [class.active]="i === 0"
                [id]="categoria.Nombre_Categoria + '-tab'"
                data-bs-toggle="tab"
                [attr.data-bs-target]="'#' + categoria.Nombre_Categoria"
                type="button"
                role="tab"
                [attr.aria-controls]="categoria.Nombre_Categoria"
                [attr.aria-selected]="i === 0 ? 'true' : 'false'"
              >
                {{ categoria.Nombre_Categoria }}
              </button>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade"
              *ngFor="let categoria of categorias; let i = index"
              [class.show]="i === 0"
              [class.active]="i === 0"
              [id]="categoria.Nombre_Categoria"
              role="tabpanel"
              [attr.aria-labelledby]="categoria.Nombre_Categoria + '-tab'"
            >
              <!-- Aquí puedes poner el contenido de cada categoría -->
              <p>Contenido de {{ categoria.Nombre_Categoria }}</p>
            </div>
          </div>

          <div class="tab-content" id="myTabContent">
            <!-- Tab Entradas -->
            <div class="tab-pane fade show active" id="entradas" role="tabpanel" aria-labelledby="entradas-tab">
              <div class="row">
                <!-- Ejemplo de producto 1 -->
                <div class="col-6 col-md-4 mb-3">
                  <div class="card card-product" (click)="agregarAlCarrito({ nombre: 'Papas a la francesa', precio: 5000 })">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgu6t_CESgvw_suIjbW6UO0XrjjXjqtRDAl9OEL23NQQ&s"
                      class="card-img-top"
                      alt="Nombre del Producto 1"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Papas a la francesa</h5>
                      <p class="card-text"><strong>$5.000,00</strong></p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                  <div class="card card-product" (click)="agregarAlCarrito({ nombre: 'Camarones', precio: 8000 })">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIddFsXlXWhZNAperMYDtT8DJdNhKzGQ_mwVptnYx4cQ&s"
                      class="card-img-top"
                      alt="Nombre del Producto 2"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Camarones</h5>

                      <p class="card-text"><strong>$8.000,00</strong></p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                  <div class="card card-product">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFwHC-GBpmiLm8HMWZTFLUZcyrM8ErfWusTUGHAbAZgA&s"
                      class="card-img-top"
                      alt="Nombre del Producto 3"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Ensalada</h5>
                      <p class="card-text"><strong>$6.000,00</strong></p>
                    </div>
                  </div>
                </div>
                <!-- Más productos de entradas -->
              </div>
            </div>
            <!-- Tab Bebidas -->
            <div class="tab-pane fade" id="bebidas" role="tabpanel" aria-labelledby="bebidas-tab">
              <div class="row">
                <!-- Ejemplo de producto 2 -->
                <div class="col-6 col-md-4 mb-3">
                  <div class="card card-product">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Nombre del Producto 4" />
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Producto 4</h5>
                      <p class="card-text">Descripción breve del producto 4.</p>
                      <p class="card-text"><strong>Precio: $XX.XX</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Platos Fuertes -->
            <div class="tab-pane fade" id="platos" role="tabpanel" aria-labelledby="platos-tab">
              <div class="row">
                <!-- Ejemplo de producto 3 -->
                <div class="col-6 col-md-4 mb-3">
                  <div class="card card-product">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Nombre del Producto 5" />
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Producto 5</h5>
                      <p class="card-text">Descripción breve del producto 5.</p>
                      <p class="card-text"><strong>Precio: $XX.XX</strong></p>
                    </div>
                  </div>
                </div>
                <!-- Más productos de platos fuertes -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-header" style="background-color: #3f51b5">
          <h5 class="card-title" style="color: #ffff">Productos Seleccionados</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <!-- Mostrar los productos seleccionados en el carrito -->
                <tr *ngFor="let producto of productosSeleccionados; let i = index">
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.precio | currency }}</td>
                  <td>
                    <!-- Botones para aumentar y disminuir la cantidad -->
                    <button class="btn-quantity" (click)="disminuirCantidad(i)">-</button>
                    {{ producto.cantidad }}
                    <button class="btn-quantity" (click)="aumentarCantidad(i)">+</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Mostrar el total fuera de la tabla -->
          <div>
            <strong>Total: {{ calcularTotal() | currency }}</strong>
            <!-- Botón para generar pedido -->
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="generarPedido()">Generar Pedido</button>
      </div>
    </div>
  </div>
</div>
