<div class="card">
  <div class="card-header bg-blue-1000">Seguridad Sary S.A</div>
  <div class="card-body">
    <div class="container">
      <mat-tab-group>
        <mat-tab label="Usuarios">
            <ng-template matTabContent>
              <app-usuarios></app-usuarios>
            </ng-template>
          </mat-tab>

        <mat-tab label="Lista Roles">
          <ng-template matTabContent>
            <app-roles></app-roles>
          </ng-template>
        </mat-tab>
        <mat-tab label="Lista permisos">
            <ng-template matTabContent>
              <app-permisos></app-permisos>
            </ng-template>
          </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
