.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .spinner-container {
    text-align: center;
  }
  
  .bouncing-loader {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }
  
  .bouncing-ball {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out, pulse 1.5s infinite ease-in-out;
    box-shadow: 0 0 10px rgba(224, 199, 39, 0.7);
  }
  
  .bouncing-ball:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .bouncing-ball:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .text {
    margin-top: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(229, 239, 92, 0.7);
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
  }
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-field {
    width: 48%; /* Ancho de los campos */
  }

  .registrar-roles{
        background-color: #dc3545 !important;
  }