<div class="card">
    <div class="card-header bg-blue-1000">Selección de personal</div>
    <div class="card-body">
      <div class="button-container" style="display: flex; justify-content: flex-start">
        <button mat-fab color="primary" (click)="openRegistrarPermisosModal()">
          <mat-icon aria-hidden="false">person_add</mat-icon>
        </button>
        <span style="margin-left: 10px">Registrar permisos</span>
      </div>
  
      <!-- Contenedor de la tabla -->
      <div class="container">
        <mat-table [dataSource]="dataSource">
          <!-- Define las columnas estáticas -->
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>{{ columnAliases[column] }}</mat-header-cell>
            <mat-cell *matCellDef="let permission">{{ getCellValue(permission, column) }}</mat-cell>
            
            <mat-cell *matCellDef="let permission">
            <button mat-icon-button color="primary" (click)="openEditarPermisosModal(permission.id)">
                <mat-icon>edit</mat-icon>
              </button>
              </mat-cell>
          </ng-container>
  
          <!-- Define la columna de acciones -->
      
            <mat-cell *matCellDef="let permission">
              <button mat-icon-button color="primary" (click)="openEditarPermisosModal(permission.id)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
 
  
          <!-- Define el encabezado de la tabla y las filas -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
  