.logo-sm {
    width: 50px;
    height: auto; 
  }
  .user-avtar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .sidenav {
    z-index: 500; /* Ajusta según sea necesario */
  }