<nav class="sidenav">
  <div class="navbar-wrapper">
    <div class="m-header" style="background-color: #121111">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_H89sWKGPczn2WgRsBpfs6ybAYtV425xkvw&s" alt="theme-logo" class="user-avtar" />
        <span style="color: #ffff; font-size: 20px;"> <b>    S.A.S</b></span>
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>

