<nav>
  <div class="navbar-wrapper">
    <div class="m-header" style="background-color: #3f51b5;">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="assets/images/comandas.png" alt="theme-logo" class="user-avtar" style="width: 50px; height: auto;" />
        <span style="color: #ffff; font-size: 20px;">TecnoComanda</span>

      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
