<ng-scrollbar style="height: calc(100vh - 88px)" id="nav-ps-mantis" visibility="hover" class="sidenav">
  <div class="navbar-content">
    <ul class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
      <ng-container *ngFor="let item of navigation">
        <ng-container *ngIf="item.type === 'group'">
          <app-nav-group [item]="item"></app-nav-group>
        </ng-container>
        <ng-container *ngIf="item.type === 'collapse'">
          <app-nav-collapse [item]="item"></app-nav-collapse>
        </ng-container>
        <ng-container *ngIf="item.type === 'item'">
          <app-nav-item [item]="item"></app-nav-item>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</ng-scrollbar>
